In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.decomposition import PCA

from sklearn.model_selection import train_test_split

In [2]:
titanic = pd.read_csv("../dataset/titanic/train.csv")

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
drop_cols = ['PassengerId', 'Name', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [5]:
titanic = titanic.drop(drop_cols, axis=1)

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
dtypes: float64(1), int64(5)
memory usage: 41.8 KB

In [9]:
le = LabelEncoder()
titanic.Sex = le.fit_transform(titanic.Sex)

In [11]:
titanic.Age.fillna(np.mean(titanic.Age), inplace=True)

In [21]:
X = titanic.drop(["Survived"], axis=1)
y = titanic.Survived

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(10)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.7627118644067796

In [24]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8135593220338984

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [33]:
def entropy(col):
    items, counts = np.unique(col.values, return_counts=True)
    size = col.values.shape[0]
    acc = 0
    for count in counts:
        pi = count/size
        acc += (pi * np.log2(pi))
    
    return -acc

In [35]:
vals = pd.Series([1, 1, 1, 0, 0, 0])
print(entropy(vals))

1.0

In [32]:
print(items, counts)

[0 1] [549 342]

In [41]:
def info_gain(X, Y, label):
    mean = np.mean(X[label])

    left_y = Y[X[label]<mean]
    right_y = Y[X[label]>=mean]
    
    s_total = Y.shape[0]
    s_left = left_y.shape[0]
    s_right = right_y.shape[0]
    
    if s_left == 0 or s_right == 0:
        return -10000
    
    return entropy(Y) - ((s_left/s_total)*entropy(left_y) + (s_right/s_total)*entropy(right_y))

In [43]:

for col in X_train.columns:
info_gain(X_train, y_train, "Sex")

0.20332074264151545

   Pclass  Sex        Age  SibSp  Parch
0       3    1  22.000000      1      0
2       3    0  26.000000      0      0
4       3    1  35.000000      0      0
5       3    1  29.699118      0      0
7       3    1   2.000000      3      1
8       3    0  27.000000      0      2
9       2    0  14.000000      1      0